.CardMenu-container {
  padding: 5px;
  width: 500px;
  height: 300px;
  user-select: none;
  background-color: #181818;
}

.CardMenu-items {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 100%;
  margin-left: 10px;
}

.CardMenu-buttons {
  margin-top: 3px;
}

.CardMenu-small-input {
  width: 30px;
}

.CardMenu-input {
  padding: 0;
  background: #2E2726;
  border: 0;
  color: #fff;
  text-align: center;
  margin: 5px 0px;
}

.CardMenu-token-card {
  display: inline-block;
  height: 100%;
  width: 45%;
  text-align: center;
  padding-top: 120px;
}