.Card-container {
  height: 100%;
  vertical-align: top;
  display: inline-block;
  position: relative;
}

.Card-rotated {
  transform: rotate(90deg);
}

.Card-token {
  height: 100%;
  width: 65px;
  background-color: #eee;
  border-radius: 5px;
  color: black;
  font-size: 11px;
  border: 2px black solid;
  box-sizing: border-box;
}

.Card-counter-overlay {
  position: absolute;
  bottom: 10px;
  right: 5px;
  color: #000;
}